$corFundoFooter: rgba(34, 34, 34, 0.616);
$corFundoBotao: rgba(119, 100, 134, 0.117);
$sombraBotao: 2px 10px 30px rgb(151, 115, 168);
$bordaFormulario: 1px solid rgba(124, 124, 124, 0.582);
$corFundoPrincipal: #343e54;